<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:a="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.shaforostoff.livequeueplayer"
          a:versionCode="9"
          a:versionName="1.2.2">

  <uses-permission a:name="android.permission.POST_NOTIFICATIONS"/>
  <uses-permission a:name="android.permission.FOREGROUND_SERVICE"/>
  <uses-permission a:name="android.permission.WAKE_LOCK"/>
  <uses-permission a:name="android.permission.READ_EXTERNAL_STORAGE" a:maxSdkVersion="32"/>
  <uses-permission a:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK"/>
  <uses-permission a:name="android.permission.READ_MEDIA_AUDIO"/>
  <uses-permission a:name="android.permission.BLUETOOTH" a:maxSdkVersion="30"/>
  <uses-permission a:name="android.permission.BLUETOOTH_ADMIN" a:maxSdkVersion="30"/>
  <uses-permission a:name="android.permission.BLUETOOTH_CONNECT"/>

  <application
    a:icon="@drawable/ic_launcher"
    a:label="@string/app_name"
    a:resizeableActivity="true"
    a:restoreAnyVersion="true"
    a:theme="@style/app_theme"
    tools:targetApi="n">

    <receiver
      a:name=".HWListener"
      a:exported="true">
      <intent-filter>
        <action a:name="android.intent.action.MEDIA_BUTTON" />
      </intent-filter>
    </receiver>

    <service
      a:name=".Service"
      a:exported="false"
      a:foregroundServiceType="mediaPlayback"/>

    <activity
      a:name=".FileBrowserQueueActivity"
      a:exported="false"
      a:label="File Browser &amp; Queue" />

    <activity
      a:name=".Launcher"
      a:exported="true">
      <intent-filter>
        <action a:name="android.intent.action.MAIN" />
        <category a:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <intent-filter>
        <action a:name="android.intent.action.SEND" />
        <action a:name="android.intent.action.SEND_MULTIPLE"/>

        <category a:name="android.intent.category.DEFAULT" />

        <data a:mimeType="audio/*" />
      </intent-filter>

      <intent-filter tools:ignore="AppLinkUrlError">
        <action a:name="android.intent.action.VIEW" />

        <category a:name="android.intent.category.DEFAULT" />

        <data a:mimeType="audio/*" />
      </intent-filter>
    </activity>
  </application>
</manifest>
